body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f0f0f0;
}

#login-container, #chat-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#login-container {
    width: 300px;
}

#chat-container {
    width: 300px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#messages {
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#message-input {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    word-wrap: break-word;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#room-title {
    animation: blink 10s infinite;
}

@media (max-width: 480px) {
    #login-container, #chat-container {
        width: 90%;
    }
}

button:focus, input:focus {
    outline: 2px solid #218838;
    outline-offset: 2px;
}

.message.sent {
    text-align: right;
    background-color: #e6ffe6;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0;
}

.message.received {
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 10px 10px 10px 0;
    margin: 5px 0;
}


#messages::-webkit-scrollbar {
    width: 8px;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


#voice-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

#voice-button.active {
    background-color: red;
    }
