/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Login Container */
#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#chat-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#chat-container {
    width: 300px;
}

#login-container h1 {
    font-size: 2rem;
    color: #28a745; /* Bootstrap Primary Blue */
    font-weight: bold;
}

#login-container p {
    color: #6c757d; /* Bootstrap Muted Text */
}

#username, #country {
    width: 50%;
    padding: 10px;
    border: 1px solid #ced4da; /* Bootstrap Border */
    border-radius: 5px;
    margin-bottom: 10px;
}

#join-button {
    width: 50%;
    background-color: #28a745; /* Bootstrap Primary */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#join-button:hover {
    background-color: #0056b3;
}

button:focus, input:focus {
    outline: 2px solid #218838;
    outline-offset: 2px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Room Title */
#room-title {
    text-align: center;
    font-size: 1.5rem;
    color: #343a40; /* Bootstrap Dark Text */
}

/* User Info */
#user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c757d; /* Bootstrap Secondary */
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#messages {
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#message-input {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    word-wrap: break-word;
}

#voice-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#room-title {
    animation: blink 10s infinite;
}

@media (max-width: 480px) {
    #login-container, #chat-container {
        width: 90%;
    }
}


#voice-button.active {
    background-color: red;
}

.message.sent {
    text-align: right;
    background-color: #e6ffe6;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0;
}

.message.received {
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 10px 10px 10px 0;
    margin: 5px 0;
}


#messages::-webkit-scrollbar {
    width: 8px;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.small-dot {
    font-size: 10px; /* Adjust size as needed */
    vertical-align: middle;
    }
